<!DOCTYPE html>
<html lang=en>
    <head>
        <title>CHESSTER</title>
        <link rel='stylesheet' type='text/css' href='../public/css/index.css'>
        <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet"> 
    </head>
    <body>
        <h1 id='mainTag'>Chesster</h1>
        <div id='board'></div>
        <button id='moveButton'>Execute Move</button>
        <script src='../public/js/index.js'></script>
    </body>
</html>